@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

[data-theme=light] {
  --background-main: #ddd6fe;
  --background-auth: #ffffff;
  --input: #ffffff;
  --txt: #000000;
  --sun: #000000;
  --moon: #000000;
}

[data-theme=dark] {
  --background-main: #000000;
  --background-auth: #000000;
  --input: #000000;
  --txt: #dddddd;
  --sun: #fcd34d;
  --moon: #ffffff;
}